In [1]:
# EDA- exploratory data analysis
# Import libraries
import pandas as pd

In [2]:
# Series

lst=[1,2,3,4,5]
print(lst)
print(pd.Series([1,2,3,4,5],index=['a','b','c','d','e'],name='Ratings'))

[1, 2, 3, 4, 5]
a    1
b    2
c    3
d    4
e    5
Name: Ratings, dtype: int64

In [3]:
#DataFrame
# using list or dictionary

lst=[[1,2],[2123,23],[3212321,313]]
print(lst[2][0])

print(pd.DataFrame(lst,columns=['a','b']))

group={
    'Fruits':['apple','mango','arrange'],
    'Quantity':[6,5,12],
    'Like/Dislike':['l','d','l']
}
df=pd.DataFrame(group)
print(df)

3212321
         a    b
0        1    2
1     2123   23
2  3212321  313
    Fruits  Quantity Like/Dislike
0    apple         6            l
1    mango         5            d
2  arrange        12            l

In [4]:
print(group['Fruits'])
print(group['Quantity'])
print(df.ndim)
print(df.shape)

group['Price']=[50,34,24]
print(pd.DataFrame(group))
print(group['Price'])

['apple', 'mango', 'arrange']
[6, 5, 12]
2
(3, 3)
    Fruits  Quantity Like/Dislike  Price
0    apple         6            l     50
1    mango         5            d     34
2  arrange        12            l     24
[50, 34, 24]

In [5]:
# Arithematic operations

dic=pd.DataFrame({'A':[1,2,3,4,5], 'B':[2,3,4,5,6]})
dic['C']=dic['A']+dic['B']
dic['D']=dic['C']*dic['B']
print(pd.DataFrame(dic.insert(0,'Name',['a','b','c','d','e'])))
print(dic)

df = pd.read_csv("C:/Users/KIIT/Downloads/petrol_consumption.csv")
print(df)

Empty DataFrame
Columns: []
Index: []
  Name  A  B   C   D
0    a  1  2   3   6
1    b  2  3   5  15
2    c  3  4   7  28
3    d  4  5   9  45
4    e  5  6  11  66
    Petrol_tax  Average_income  Paved_Highways  Population_Driver_licence(%)  \
0         9.00          3571.0          1976.0                         0.525
1         9.00          4092.0          1250.0                         0.572
2         9.00             NaN             NaN                         0.580
3         7.50          4870.0          2351.0                         0.529
4         8.00          4399.0           431.0                         0.544
5        10.00          5342.0          1333.0                         0.571
6         8.00          5319.0         11868.0                         0.451
7         8.00          5126.0          2138.0                         0.553
8         8.00          4447.0          8577.0                         0.529
9         7.00          4512.0          8507.0                         0.552
10        8.00          4391.0          5939.0                         0.530
11        7.50          5126.0             NaN                         0.525
12        7.00          4817.0          6930.0                         0.574
13        7.00          4207.0          6580.0                         0.545
14        7.00          4332.0          8159.0                           NaN
15        7.00          4318.0         10340.0                         0.586
16        7.00          4206.0             NaN                         0.572
17        7.00          3718.0          4725.0                         0.540
18        7.00             NaN          5915.0                         0.724
19        8.50          4341.0          6010.0                         0.677
20        7.00             NaN          7834.0                         0.663
21        8.00          4983.0           602.0                         0.602
22        9.00          4897.0          2449.0                         0.511
23        9.00          4258.0          4686.0                         0.517
24        8.50          4574.0          2619.0                         0.551
25        9.00          3721.0          4746.0                         0.544
26        8.00          3448.0          5399.0                         0.548
27        7.50          3846.0          9061.0                         0.579
28        8.00          4188.0          5975.0                         0.563
29        9.00          3601.0             NaN                         0.493
30        7.00          3640.0          6905.0                         0.518
31        7.00          3333.0          6594.0                         0.513
32        8.00          3063.0          6524.0                         0.578
33        7.50          3357.0          4121.0                         0.547
34        8.00             NaN          3495.0                         0.487
35        6.58          3802.0          7834.0                         0.629
36        5.00          4045.0             NaN                         0.566
37        7.00          3897.0          6385.0                         0.586
38        8.50          3635.0          3274.0                         0.663
39        7.00          4345.0          3905.0                         0.672
40        7.00          4449.0          4639.0                         0.626
41        7.00             NaN          3985.0                         0.563
42        7.00          4300.0          3635.0                         0.603
43        7.00          3745.0          2611.0                         0.508
44        6.00          5215.0          2302.0                         0.672
45        9.00          4476.0          3942.0                         0.571
46        7.00          4296.0          4083.0                         0.623
47        7.00          5002.0          9794.0                         0.593

    Petrol_Consumption
0                541.0
1                524.0
2                561.0
3                  NaN
4                410.0
5                457.0
6                344.0
7                467.0
8                464.0
9                498.0
10               580.0
11                 NaN
12               525.0
13               508.0
14               566.0
15               635.0
16               603.0
17               714.0
18               865.0
19               640.0
20               649.0
21               540.0
22               464.0
23               547.0
24               460.0
25               566.0
26               577.0
27               631.0
28               574.0
29               534.0
30               571.0
31               554.0
32               577.0
33               628.0
34               487.0
35               644.0
36               640.0
37               704.0
38               648.0
39               968.0
40               587.0
41               699.0
42               632.0
43               591.0
44               782.0
45               510.0
46               610.0
47               524.0

In [6]:
# Indexing and Slicing
print(df.columns)

Index(['Petrol_tax', 'Average_income', 'Paved_Highways',
       'Population_Driver_licence(%)', 'Petrol_Consumption'],
      dtype='object')

In [7]:
#data types
print(df.dtypes)

Petrol_tax                      float64
Average_income                  float64
Paved_Highways                  float64
Population_Driver_licence(%)    float64
Petrol_Consumption              float64
dtype: object

In [8]:
# information about the data
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 5 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Petrol_tax                    48 non-null     float64
 1   Average_income                43 non-null     float64
 2   Paved_Highways                43 non-null     float64
 3   Population_Driver_licence(%)  47 non-null     float64
 4   Petrol_Consumption            46 non-null     float64
dtypes: float64(5)
memory usage: 2.0 KB
None

In [9]:
# Null values
print(df.isna().sum())  
print(df.isna().mean()*100)
print(df.isnull())

Petrol_tax                      0
Average_income                  5
Paved_Highways                  5
Population_Driver_licence(%)    1
Petrol_Consumption              2
dtype: int64
Petrol_tax                       0.000000
Average_income                  10.416667
Paved_Highways                  10.416667
Population_Driver_licence(%)     2.083333
Petrol_Consumption               4.166667
dtype: float64
    Petrol_tax  Average_income  Paved_Highways  Population_Driver_licence(%)  \
0        False           False           False                         False
1        False           False           False                         False
2        False            True            True                         False
3        False           False           False                         False
4        False           False           False                         False
5        False           False           False                         False
6        False           False           False                         False
7        False           False           False                         False
8        False           False           False                         False
9        False           False           False                         False
10       False           False           False                         False
11       False           False            True                         False
12       False           False           False                         False
13       False           False           False                         False
14       False           False           False                          True
15       False           False           False                         False
16       False           False            True                         False
17       False           False           False                         False
18       False            True           False                         False
19       False           False           False                         False
20       False            True           False                         False
21       False           False           False                         False
22       False           False           False                         False
23       False           False           False                         False
24       False           False           False                         False
25       False           False           False                         False
26       False           False           False                         False
27       False           False           False                         False
28       False           False           False                         False
29       False           False            True                         False
30       False           False           False                         False
31       False           False           False                         False
32       False           False           False                         False
33       False           False           False                         False
34       False            True           False                         False
35       False           False           False                         False
36       False           False            True                         False
37       False           False           False                         False
38       False           False           False                         False
39       False           False           False                         False
40       False           False           False                         False
41       False            True           False                         False
42       False           False           False                         False
43       False           False           False                         False
44       False           False           False                         False
45       False           False           False                         False
46       False           False           False                         False
47       False           False           False                         False

    Petrol_Consumption
0                False
1                False
2                False
3                 True
4                False
5                False
6                False
7                False
8                False
9                False
10               False
11                True
12               False
13               False
14               False
15               False
16               False
17               False
18               False
19               False
20               False
21               False
22               False
23               False
24               False
25               False
26               False
27               False
28               False
29               False
30               False
31               False
32               False
33               False
34               False
35               False
36               False
37               False
38               False
39               False
40               False
41               False
42               False
43               False
44               False
45               False
46               False
47               False

In [10]:
# Filling the null values  with 0
print(df.fillna(0))
print(df)

    Petrol_tax  Average_income  Paved_Highways  Population_Driver_licence(%)  \
0         9.00          3571.0          1976.0                         0.525
1         9.00          4092.0          1250.0                         0.572
2         9.00             0.0             0.0                         0.580
3         7.50          4870.0          2351.0                         0.529
4         8.00          4399.0           431.0                         0.544
5        10.00          5342.0          1333.0                         0.571
6         8.00          5319.0         11868.0                         0.451
7         8.00          5126.0          2138.0                         0.553
8         8.00          4447.0          8577.0                         0.529
9         7.00          4512.0          8507.0                         0.552
10        8.00          4391.0          5939.0                         0.530
11        7.50          5126.0             0.0                         0.525
12        7.00          4817.0          6930.0                         0.574
13        7.00          4207.0          6580.0                         0.545
14        7.00          4332.0          8159.0                         0.000
15        7.00          4318.0         10340.0                         0.586
16        7.00          4206.0             0.0                         0.572
17        7.00          3718.0          4725.0                         0.540
18        7.00             0.0          5915.0                         0.724
19        8.50          4341.0          6010.0                         0.677
20        7.00             0.0          7834.0                         0.663
21        8.00          4983.0           602.0                         0.602
22        9.00          4897.0          2449.0                         0.511
23        9.00          4258.0          4686.0                         0.517
24        8.50          4574.0          2619.0                         0.551
25        9.00          3721.0          4746.0                         0.544
26        8.00          3448.0          5399.0                         0.548
27        7.50          3846.0          9061.0                         0.579
28        8.00          4188.0          5975.0                         0.563
29        9.00          3601.0             0.0                         0.493
30        7.00          3640.0          6905.0                         0.518
31        7.00          3333.0          6594.0                         0.513
32        8.00          3063.0          6524.0                         0.578
33        7.50          3357.0          4121.0                         0.547
34        8.00             0.0          3495.0                         0.487
35        6.58          3802.0          7834.0                         0.629
36        5.00          4045.0             0.0                         0.566
37        7.00          3897.0          6385.0                         0.586
38        8.50          3635.0          3274.0                         0.663
39        7.00          4345.0          3905.0                         0.672
40        7.00          4449.0          4639.0                         0.626
41        7.00             0.0          3985.0                         0.563
42        7.00          4300.0          3635.0                         0.603
43        7.00          3745.0          2611.0                         0.508
44        6.00          5215.0          2302.0                         0.672
45        9.00          4476.0          3942.0                         0.571
46        7.00          4296.0          4083.0                         0.623
47        7.00          5002.0          9794.0                         0.593

    Petrol_Consumption
0                541.0
1                524.0
2                561.0
3                  0.0
4                410.0
5                457.0
6                344.0
7                467.0
8                464.0
9                498.0
10               580.0
11                 0.0
12               525.0
13               508.0
14               566.0
15               635.0
16               603.0
17               714.0
18               865.0
19               640.0
20               649.0
21               540.0
22               464.0
23               547.0
24               460.0
25               566.0
26               577.0
27               631.0
28               574.0
29               534.0
30               571.0
31               554.0
32               577.0
33               628.0
34               487.0
35               644.0
36               640.0
37               704.0
38               648.0
39               968.0
40               587.0
41               699.0
42               632.0
43               591.0
44               782.0
45               510.0
46               610.0
47               524.0
    Petrol_tax  Average_income  Paved_Highways  Population_Driver_licence(%)  \
0         9.00          3571.0          1976.0                         0.525
1         9.00          4092.0          1250.0                         0.572
2         9.00             NaN             NaN                         0.580
3         7.50          4870.0          2351.0                         0.529
4         8.00          4399.0           431.0                         0.544
5        10.00          5342.0          1333.0                         0.571
6         8.00          5319.0         11868.0                         0.451
7         8.00          5126.0          2138.0                         0.553
8         8.00          4447.0          8577.0                         0.529
9         7.00          4512.0          8507.0                         0.552
10        8.00          4391.0          5939.0                         0.530
11        7.50          5126.0             NaN                         0.525
12        7.00          4817.0          6930.0                         0.574
13        7.00          4207.0          6580.0                         0.545
14        7.00          4332.0          8159.0                           NaN
15        7.00          4318.0         10340.0                         0.586
16        7.00          4206.0             NaN                         0.572
17        7.00          3718.0          4725.0                         0.540
18        7.00             NaN          5915.0                         0.724
19        8.50          4341.0          6010.0                         0.677
20        7.00             NaN          7834.0                         0.663
21        8.00          4983.0           602.0                         0.602
22        9.00          4897.0          2449.0                         0.511
23        9.00          4258.0          4686.0                         0.517
24        8.50          4574.0          2619.0                         0.551
25        9.00          3721.0          4746.0                         0.544
26        8.00          3448.0          5399.0                         0.548
27        7.50          3846.0          9061.0                         0.579
28        8.00          4188.0          5975.0                         0.563
29        9.00          3601.0             NaN                         0.493
30        7.00          3640.0          6905.0                         0.518
31        7.00          3333.0          6594.0                         0.513
32        8.00          3063.0          6524.0                         0.578
33        7.50          3357.0          4121.0                         0.547
34        8.00             NaN          3495.0                         0.487
35        6.58          3802.0          7834.0                         0.629
36        5.00          4045.0             NaN                         0.566
37        7.00          3897.0          6385.0                         0.586
38        8.50          3635.0          3274.0                         0.663
39        7.00          4345.0          3905.0                         0.672
40        7.00          4449.0          4639.0                         0.626
41        7.00             NaN          3985.0                         0.563
42        7.00          4300.0          3635.0                         0.603
43        7.00          3745.0          2611.0                         0.508
44        6.00          5215.0          2302.0                         0.672
45        9.00          4476.0          3942.0                         0.571
46        7.00          4296.0          4083.0                         0.623
47        7.00          5002.0          9794.0                         0.593

    Petrol_Consumption
0                541.0
1                524.0
2                561.0
3                  NaN
4                410.0
5                457.0
6                344.0
7                467.0
8                464.0
9                498.0
10               580.0
11                 NaN
12               525.0
13               508.0
14               566.0
15               635.0
16               603.0
17               714.0
18               865.0
19               640.0
20               649.0
21               540.0
22               464.0
23               547.0
24               460.0
25               566.0
26               577.0
27               631.0
28               574.0
29               534.0
30               571.0
31               554.0
32               577.0
33               628.0
34               487.0
35               644.0
36               640.0
37               704.0
38               648.0
39               968.0
40               587.0
41               699.0
42               632.0
43               591.0
44               782.0
45               510.0
46               610.0
47               524.0

In [11]:
# Dropping the null values
print(df.dropna())

    Petrol_tax  Average_income  Paved_Highways  Population_Driver_licence(%)  \
0         9.00          3571.0          1976.0                         0.525
1         9.00          4092.0          1250.0                         0.572
4         8.00          4399.0           431.0                         0.544
5        10.00          5342.0          1333.0                         0.571
6         8.00          5319.0         11868.0                         0.451
7         8.00          5126.0          2138.0                         0.553
8         8.00          4447.0          8577.0                         0.529
9         7.00          4512.0          8507.0                         0.552
10        8.00          4391.0          5939.0                         0.530
12        7.00          4817.0          6930.0                         0.574
13        7.00          4207.0          6580.0                         0.545
15        7.00          4318.0         10340.0                         0.586
17        7.00          3718.0          4725.0                         0.540
19        8.50          4341.0          6010.0                         0.677
21        8.00          4983.0           602.0                         0.602
22        9.00          4897.0          2449.0                         0.511
23        9.00          4258.0          4686.0                         0.517
24        8.50          4574.0          2619.0                         0.551
25        9.00          3721.0          4746.0                         0.544
26        8.00          3448.0          5399.0                         0.548
27        7.50          3846.0          9061.0                         0.579
28        8.00          4188.0          5975.0                         0.563
30        7.00          3640.0          6905.0                         0.518
31        7.00          3333.0          6594.0                         0.513
32        8.00          3063.0          6524.0                         0.578
33        7.50          3357.0          4121.0                         0.547
35        6.58          3802.0          7834.0                         0.629
37        7.00          3897.0          6385.0                         0.586
38        8.50          3635.0          3274.0                         0.663
39        7.00          4345.0          3905.0                         0.672
40        7.00          4449.0          4639.0                         0.626
42        7.00          4300.0          3635.0                         0.603
43        7.00          3745.0          2611.0                         0.508
44        6.00          5215.0          2302.0                         0.672
45        9.00          4476.0          3942.0                         0.571
46        7.00          4296.0          4083.0                         0.623
47        7.00          5002.0          9794.0                         0.593

    Petrol_Consumption
0                541.0
1                524.0
4                410.0
5                457.0
6                344.0
7                467.0
8                464.0
9                498.0
10               580.0
12               525.0
13               508.0
15               635.0
17               714.0
19               640.0
21               540.0
22               464.0
23               547.0
24               460.0
25               566.0
26               577.0
27               631.0
28               574.0
30               571.0
31               554.0
32               577.0
33               628.0
35               644.0
37               704.0
38               648.0
39               968.0
40               587.0
42               632.0
43               591.0
44               782.0
45               510.0
46               610.0
47               524.0

In [12]:
#Duplicate data
print(df.duplicated().sum())
print(df[df.duplicated])

0
Empty DataFrame
Columns: [Petrol_tax, Average_income, Paved_Highways, Population_Driver_licence(%), Petrol_Consumption]
Index: []

In [13]:

# Basic Statistical operations:

print(df.nunique())
print(df['Petrol_tax'].unique())
print(df['Petrol_tax'].value_counts())
print(df['Petrol_tax'].mean())
print(df['Petrol_tax'].median())
print(df['Petrol_tax'].mode())
print(df['Petrol_tax'].std())
print(df['Petrol_tax'].var())

Petrol_tax                       9
Average_income                  42
Paved_Highways                  42
Population_Driver_licence(%)    38
Petrol_Consumption              41
dtype: int64
[ 9.    7.5   8.   10.    7.    8.5   6.58  5.    6.  ]
Petrol_tax
7.00     19
8.00     10
9.00      8
7.50      4
8.50      3
10.00     1
6.58      1
5.00      1
6.00      1
Name: count, dtype: int64
7.668333333333333
7.5
0    7.0
Name: Petrol_tax, dtype: float64
0.9507697516051804
0.9039631205673765

In [14]:
# Load Data Set

d=pd.read_csv("C:/Users/KIIT/Downloads/emp_data.csv")
print(d)

    Emp_id     Name      City  Salary
0        1    Emp_1     Noida   76252
1        2    Emp_2  Banglore   60315
2        3    Emp_3     Noida   73672
3        4    Emp_4      Pune   46501
4        5    Emp_5  Banglore   68611
..     ...      ...       ...     ...
95      96   Emp_96  Banglore   60006
96      97   Emp_97     Noida   60635
97      98   Emp_98   Gurgaon   51311
98      99   Emp_99      Pune   89409
99     100  Emp_100   Gurgaon   92971

[100 rows x 4 columns]

In [15]:
# Perform basic EDA operations:

print(d[d['City']=='Banglore'])
print(d.head())
print(d.tail())
print(d['City'].value_counts())
group=d.groupby('City')
print(group.get_group('Banglore'))
print(group.get_group('Banglore').min())
print(group.get_group('Banglore').max())
print("Mean Salary of employees working in Banglore",group['Salary'].get_group('Banglore').sum().mean())
print("Median Salary of employees working in Banglore",group['Salary'].get_group('Gurgaon').median())
print("Mode of Salary of employees working in Gurgaon/n",group['Salary'].get_group('Gurgaon').mode())
print("Standard Deviation of Salary of employees working in Pune",group['Salary'].get_group('Pune').std())
print("variance of Salary of employees working in Pune",group['Salary'].get_group('Pune').var())
print(d.set_index('Emp_id'))
print(d.reset_index(inplace=True))

    Emp_id    Name      City  Salary
1        2   Emp_2  Banglore   60315
4        5   Emp_5  Banglore   68611
5        6   Emp_6  Banglore   44646
6        7   Emp_7  Banglore   95408
7        8   Emp_8  Banglore   76171
19      20  Emp_20  Banglore   88460
23      24  Emp_24  Banglore   75523
24      25  Emp_25  Banglore   52524
25      26  Emp_26  Banglore   44710
27      28  Emp_28  Banglore   50894
41      42  Emp_42  Banglore   79663
45      46  Emp_46  Banglore   59409
70      71  Emp_71  Banglore   45849
71      72  Emp_72  Banglore   45944
76      77  Emp_77  Banglore   48192
79      80  Emp_80  Banglore   58371
89      90  Emp_90  Banglore   72727
95      96  Emp_96  Banglore   60006
   Emp_id   Name      City  Salary
0       1  Emp_1     Noida   76252
1       2  Emp_2  Banglore   60315
2       3  Emp_3     Noida   73672
3       4  Emp_4      Pune   46501
4       5  Emp_5  Banglore   68611
    Emp_id     Name      City  Salary
95      96   Emp_96  Banglore   60006
96      97   Emp_97     Noida   60635
97      98   Emp_98   Gurgaon   51311
98      99   Emp_99      Pune   89409
99     100  Emp_100   Gurgaon   92971
City
Gurgaon     35
Noida       30
Banglore    18
Pune        17
Name: count, dtype: int64
    Emp_id    Name      City  Salary
1        2   Emp_2  Banglore   60315
4        5   Emp_5  Banglore   68611
5        6   Emp_6  Banglore   44646
6        7   Emp_7  Banglore   95408
7        8   Emp_8  Banglore   76171
19      20  Emp_20  Banglore   88460
23      24  Emp_24  Banglore   75523
24      25  Emp_25  Banglore   52524
25      26  Emp_26  Banglore   44710
27      28  Emp_28  Banglore   50894
41      42  Emp_42  Banglore   79663
45      46  Emp_46  Banglore   59409
70      71  Emp_71  Banglore   45849
71      72  Emp_72  Banglore   45944
76      77  Emp_77  Banglore   48192
79      80  Emp_80  Banglore   58371
89      90  Emp_90  Banglore   72727
95      96  Emp_96  Banglore   60006
Emp_id           2
Name         Emp_2
City      Banglore
Salary       44646
dtype: object
Emp_id          96
Name        Emp_96
City      Banglore
Salary       95408
dtype: object
Mean Salary of employees working in Banglore 1127423.0
Median Salary of employees working in Banglore 65217.0
Mode of Salary of employees working in Gurgaon/n 0     43883
1     47726
2     48805
3     49003
4     49728
5     50073
6     50618
7     51311
8     53125
9     54983
10    55457
11    55501
12    56694
13    57981
14    61738
15    62304
16    62554
17    65217
18    67993
19    69958
20    70137
21    71056
22    77990
23    78222
24    79358
25    81768
26    86314
27    88999
28    89058
29    89967
30    90425
31    90450
32    92523
33    92971
34    95851
Name: Salary, dtype: int64
Standard Deviation of Salary of employees working in Pune 15913.016534752112
variance of Salary of employees working in Pune 253224095.2352941
           Name      City  Salary
Emp_id
1         Emp_1     Noida   76252
2         Emp_2  Banglore   60315
3         Emp_3     Noida   73672
4         Emp_4      Pune   46501
5         Emp_5  Banglore   68611
...         ...       ...     ...
96       Emp_96  Banglore   60006
97       Emp_97     Noida   60635
98       Emp_98   Gurgaon   51311
99       Emp_99      Pune   89409
100     Emp_100   Gurgaon   92971

[100 rows x 3 columns]
None